NetMonitor/client/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/service/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/service/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/service/Service1/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IService1_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CleanJournal_InputMessage">
    <wsdl:part name="parameters" element="tns:CleanJournal" />
  </wsdl:message>
  <wsdl:message name="IService1_CleanJournal_OutputMessage">
    <wsdl:part name="parameters" element="tns:CleanJournalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadLogins_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadLogins" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadLogins_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadLoginsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsStart_InputMessage">
    <wsdl:part name="parameters" element="tns:IsStart" />
  </wsdl:message>
  <wsdl:message name="IService1_IsStart_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsStartResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WriteToJournal_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteToJournal" />
  </wsdl:message>
  <wsdl:message name="IService1_WriteToJournal_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteToJournalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddInInput_InputMessage">
    <wsdl:part name="parameters" element="tns:AddInInput" />
  </wsdl:message>
  <wsdl:message name="IService1_AddInInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddInInputResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadFiles" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadFile" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:IsRegistration" />
  </wsdl:message>
  <wsdl:message name="IService1_IsRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveNewFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveNewFile" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveNewFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveNewFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SendFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFile" />
  </wsdl:message>
  <wsdl:message name="IService1_SendFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DoWork" message="tns:IService1_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DoWorkResponse" message="tns:IService1_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CleanJournal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CleanJournal" message="tns:IService1_CleanJournal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CleanJournalResponse" message="tns:IService1_CleanJournal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadLogins">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadLogins" message="tns:IService1_ReadLogins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadLoginsResponse" message="tns:IService1_ReadLogins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsStart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsStart" message="tns:IService1_IsStart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsStartResponse" message="tns:IService1_IsStart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteToJournal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WriteToJournal" message="tns:IService1_WriteToJournal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WriteToJournalResponse" message="tns:IService1_WriteToJournal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddInInput">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddInInput" message="tns:IService1_AddInInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddInInputResponse" message="tns:IService1_AddInInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadFiles" message="tns:IService1_ReadFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadFilesResponse" message="tns:IService1_ReadFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadFile" message="tns:IService1_ReadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadFileResponse" message="tns:IService1_ReadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsRegistration" message="tns:IService1_IsRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsRegistrationResponse" message="tns:IService1_IsRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveNewFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveNewFile" message="tns:IService1_SaveNewFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveNewFileResponse" message="tns:IService1_SaveNewFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SendFile" message="tns:IService1_SendFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SendFileResponse" message="tns:IService1_SendFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteFile" message="tns:IService1_DeleteFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteFileResponse" message="tns:IService1_DeleteFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IService1/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CleanJournal">
      <soap:operation soapAction="http://tempuri.org/IService1/CleanJournal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadLogins">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadLogins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsStart">
      <soap:operation soapAction="http://tempuri.org/IService1/IsStart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteToJournal">
      <soap:operation soapAction="http://tempuri.org/IService1/WriteToJournal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInInput">
      <soap:operation soapAction="http://tempuri.org/IService1/AddInInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadFiles">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadFile">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRegistration">
      <soap:operation soapAction="http://tempuri.org/IService1/IsRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNewFile">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveNewFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFile">
      <soap:operation soapAction="http://tempuri.org/IService1/SendFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/service/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>